<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBacklog</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <header>
        <h1>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}">
                GameBacklog
            </a>

            <a sec:authorize="hasRole('USER')" th:href="@{/dashboard}">
                GameBacklog
            </a>

            <a sec:authorize="!isAuthenticated()" th:href="@{/}">
                GameBacklog
            </a>
        </h1>
        <p>Organize os jogos que você já jogou ou pretende jogar</p>
    </header>

    <nav>
        <ul class="nav-list">
            <li sec:authorize="isAuthenticated() and hasRole('USER')">
                <a href="/gamelist">Meus jogos</a>
            </li>

            <li sec:authorize="isAuthenticated() and hasRole('USER')">
                <a href="/addgame">Adicionar jogo</a>
            </li>

            <li sec:authorize="isAuthenticated() and hasRole('ADMIN')">
                <a href="/user/list">Usuários</a>
            </li>

            <li sec:authorize="isAuthenticated() and hasRole('ADMIN')">
                <a href="/game/list-all">Todos os jogos</a>
            </li>

            <li class="user-info" sec:authorize="isAuthenticated()">
                Olá, <strong sec:authentication="name"></strong>
            </li>

            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button class="logout-button">Sair</button>
                </form>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="/user/register">Criar conta</a>
            </li>
        </ul>
    </nav>

    <main>
        <h2>Todos os jogos</h2>

        <ul class="game-list">

            <li class="game" th:each="game : ${games}">
                <h3 th:text="${game.name}"></h3>
                <p class="gameId"><span th:text="${game.id}"></span></p>
                <p>Plataforma: <span th:text="${game.platform}"></span></p>
                <p>Status: <span th:text="${game.status}"></span></p>
                <p>Avaliação: <span th:text="${game.rating}"></span></p>
                <p>Usuário: <span th:text="${game.user.username}"></span></p>
                <a th:href="@{'/game/' + ${game.id} + '/edit'}">Editar</a>
                <form th:action="@{'/game/' + ${game.id} + '/delete'}" method="post" class="delete-form" th:object="${game}">
                    <button type="submit">Deletar</button>
                </form>
            </li>

        </ul>
    </main>
    <footer><p>Gabriel Nascimento Souza - SI5</p></footer>


</body>
</html>